.pytest_cache/
__pycache__/

# esp-idf built binaries
build/
build_*_*/

# idf-ci build run output
build_summary_*.xml
app_info_*.txt
size_info_*.txt

# pytest-embedded log folder
pytest_embedded_log/

# idf-component-manager output
dependencies.lock
mockup-car-sim/sdkconfig.old
mockup-car-sim/.vscode/settings.json

mockup-car-sim/.vscode/c_cpp_properties.json
mockup-car-sim/.vscode/settings.json
